<!DOCTYPE html>
 <html lang="zh-cn">
     <%- include("./public/head.ejs")%>
     <body>
         <%- include("./public/header.ejs")%>
         <section class="main-floatfix">
             <%- include("./public/aside.ejs")%>
             <section class="main-articles">
                  <form method="post" action="" class="edit" onSubmit="save()">
                      <div class="form-group">
                         回复的标题：
                          <span style="color:blue;font-weight:bold;font-size:20px">"<%= title%>"</span>
                      </div>
                      <div class="text-group">
                          <span style="">评论</span><span class="emotion"><img src="/img/emotion.png" style="margin-left:20px;margin-top:2px;border:1px solid black"></span>
                          <br>
                          <textarea name="content" id="content" style="margin-left:35px"></textarea>
                          <input type="hidden" id="text" name="text">
                      </div>
                      <p><input type="submit" value="发表"></p>
                 </form>
             </section>
         </section>
         <%- include("./public/footer.ejs")%>
         <script>
              function save(){
                     console.log($("#content").val())
                     var str=replace_em($("#content").val());
                     console.log(str);
                     document.getElementById("text").value=str;
                 }
             //转为表情图
             function replace_em(str){
                    str = str.replace(/\</g,'&lt;');
                    str = str.replace(/\>/g,'&gt;');
                    str = str.replace(/\n/g,'<br/>');
                    str = str.replace(/\[em_([0-9]*)\]/g,'<img src="/arclist/$1.gif" border="0" />');
                    return str;
                }
             $(function(){
                 $('.emotion').qqFace({
                     
                     assign:'content',//表情添加
                     path:'/arclist/'
                 })
                 
             })
         </script>
     </body>
</html>